APP_URL=http://localhost:3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/telegram_store
TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=
ADMIN_SECRET=
BITESHIP_API_KEY=
STORE_POSTAL_CODE=15111
STORE_LATITUDE=-6.178300
STORE_LONGITUDE=106.631900
XENDIT_SECRET_KEY=
XENDIT_WEBHOOK_TOKEN=
BANK_NAME=BCA
BANK_ACCOUNT_NUMBER=
BANK_ACCOUNT_NAME=
